@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .wrapper {
    @apply max-w-7xl mx-auto w-full;
  }
  .label {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#373FFF] to-[#3ACAF8] font-bold text-[24px] leading-[120%];
  }
  .faded-white {
    @apply text-white opacity-60 roboto;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 110%;
  color: #1d2130;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #1d2130;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #1d2130;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #1d2130;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #1d2130;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 150%;
  color: #1d2130;
}

.large {
  font-size: 18px;
  color: #1d2130;
}
